@font-face {
  font-family: 'iconfont';  /* project id 1201211 */
  src: url('//at.alicdn.com/t/font_1201211_4acfofqhujm.eot');
  src: url('//at.alicdn.com/t/font_1201211_4acfofqhujm.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1201211_4acfofqhujm.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1201211_4acfofqhujm.woff') format('woff'),
  url('//at.alicdn.com/t/font_1201211_4acfofqhujm.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1201211_4acfofqhujm.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zixun:before { content: "\e64d"; }

.icon-jiaoyisuo_icon:before { content: "\e61f"; }

.icon-jiaoyisuo1:before { content: "\e68c"; }

.icon-hangqing:before { content: "\e63f"; }

.icon-gongju:before {content: "\e604";}

.icon-tool:before {content: "\e605";}
.icon-currencyexchangefilled:before {content: "\e608";}
.icon-exchange_px:before {content: "\e947";}
